/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --bg-header: #ff6900;
    --bg-footer: #1a1a1a;
    --promo: #ff0906;
    --eco: #008000;
}

/* Utilities */
.container_d-flex{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 0.5rem;
}

.header-container{
    background-color: #ff6900;
    padding: 2rem 10rem;
}

#logo{
    width: 10rem;
}

.icon{
    width: 1.5rem;
}
